html{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
html,body{
  width: 100%;
  height:100%;
  font-size: 62.5%;
  padding:0;
  margin:0;
  overflow: auto;
}
h1,h2,h3,h4{
  margin:0;
  padding:0;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
}
p{
  margin:0;
}
span{
  display:inline-block;
}
div{
  box-sizing: border-box;
}
input{
  border:0;
  outline: none;
}
button{
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "微软雅黑"
}
.el-input__inner{
  border:0 none;
  border-bottom:1px solid #eee;
  font-size: 1.8rem;
  border-radius: 0;
  padding:0!important;
}
.el-upload--picture-card{
  width: 200px;
  height:272px;
  border:0;
  line-height: 272px;
  border-radius: 3px;
  background: black;
  opacity: .5;
}
.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
  border-color:#5277cc;
}
.el-form-item.is-success .el-input__validateIcon{
  color:#5277cc;
}
.el-loading-spinner .el-loading-text{
  color:white;
}
.el-loading-spinner i{
  color:white;
}
.el-loading-mask{
  border-radius: 5px;
}
.slot-mine{
  font-size: 4.6rem;
}
.el-loading-mask{
  z-index: 1;
}
.el-loading-spinner .circular{
  margin-top: 300px;
}
input::-webkit-input-placeholder{
            color:#b0b0b0;
            font-family: "微软雅黑";
        }
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#b0b0b0;
            font-family: "微软雅黑";
        }
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#b0b0b0;
            font-family: "微软雅黑";
        }
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#b0b0b0;
            font-family: "微软雅黑";
        }
