html,body{
  width: 100%;
  height:100%;
  font-size: 62.5%;
  padding:0;
  margin:0;
}
h1,h2,h3,h4{
  margin:0;
  padding:0;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
}
p{
  margin:0;
}
span{
  display:inline-block;
}
div{
  box-sizing: border-box;
}
input{
  border:0;
  outline: none;
}
button{
  border: 0;
  cursor: pointer;
  outline: none;
}
.el-input__inner{
  border:0 none;
  border-bottom:1px solid #eee;
  font-size: 1.8rem;
}
